# Data Cleaning: Software Engineer Earnings Dataset

This notebook cleans and processes the raw employment dataset from IPUMS to prepare it for wage analysis. 

**Input:** `/0_datasets/employment_dataset.csv`  
**Output:** `/1_datasets/software_engineers_cleaned.csv`

# Import Librarires

In [ ]:
import pandas as pd
import os

## Step 1: Load Raw Dataset

In [36]:
df = pd.read_csv(
    "/Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/employment_dataset.csv"
)
df.shape
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRIMMIG,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE
0,2020,202001,6,2020010000275,56.0,2020000000061,190001,4,1,56.0,...,0,0,8,81,1,10,4600,8470,30,14000
1,2020,202001,29,2020010002313,8.0,2020000000291,10001,4,1,8.0,...,0,0,7,71,1,10,9620,6380,22,15000
2,2020,202001,36,2020010002897,28.0,2020000000361,130101,4,1,28.0,...,0,0,7,71,1,10,1010,7380,10,4000
3,2020,202001,140,2020010010064,2.0,2020000001401,200001,4,1,2.0,...,0,0,7,71,1,10,4760,1190,13,4300
4,2020,202001,148,2020010010714,67.0,2020000001481,250001,4,1,67.0,...,0,0,6,63,1,14,1100,9680,40,21000

In [37]:
# Filter for Software Developers (OCC2010 == 1106)
df = df[df["OCC2010"] == 1020]
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRIMMIG,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE
13,2020,202001,393,2020010029099,10.0,2020000003931,200001,4,1,10.0,...,0,0,8,81,1,14,1020,9680,40,21000
18,2020,202001,481,2020010035567,104.0,2020000004811,250001,4,1,104.0,...,0,0,7,71,1,14,1020,9680,40,21000
38,2020,202001,998,2020010070588,12.0,2020000009981,200001,4,1,12.0,...,0,0,8,81,1,14,1020,9680,40,21000
55,2020,202001,1210,2020010085761,87.0,2020000012101,250001,4,1,87.0,...,0,0,6,63,1,14,1020,9680,40,21000
61,2020,202001,1399,2020010097768,80.0,2020000013991,200001,4,1,80.0,...,0,0,8,81,1,14,1020,9680,40,21000

In [38]:
# Filter for Employed Individuals (EMPSTAT == 1)
df = df[df["EMPSTAT"] == 1]
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRIMMIG,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE
13,2020,202001,393,2020010029099,10.0,2020000003931,200001,4,1,10.0,...,0,0,8,81,1,14,1020,9680,40,21000
18,2020,202001,481,2020010035567,104.0,2020000004811,250001,4,1,104.0,...,0,0,7,71,1,14,1020,9680,40,21000
38,2020,202001,998,2020010070588,12.0,2020000009981,200001,4,1,12.0,...,0,0,8,81,1,14,1020,9680,40,21000
55,2020,202001,1210,2020010085761,87.0,2020000012101,250001,4,1,87.0,...,0,0,6,63,1,14,1020,9680,40,21000
61,2020,202001,1399,2020010097768,80.0,2020000013991,200001,4,1,80.0,...,0,0,8,81,1,14,1020,9680,40,21000

In [39]:
# Filter for Tech Industry (IND in tech-related codes)
tech_industries = [7270, 7370, 7380, 7390]
df = df[df["IND"].isin(tech_industries)]

In [40]:
df.head(20)

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRIMMIG,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE
178,2020,202001,2749,2020000007479,99.0,2020000027491,120001,1,2,109.0,...,0,0,10,101,1,10,1020,7390,40,113000
359,2020,202001,3077,2020000033142,214.0,2020000030771,260001,1,2,207.0,...,0,0,10,101,1,10,1020,7380,40,94000
397,2020,202001,3153,2020000038438,43.0,2020000031531,10001,1,1,43.0,...,0,0,10,101,1,10,1020,7380,40,110000
602,2020,202001,3491,2020000060632,349.0,2020000034911,20001,1,2,277.0,...,0,0,10,101,1,10,1020,7380,60,0
1125,2020,202001,4430,2020000127565,135.0,2020000044301,30201,1,1,135.0,...,0,0,11,114,1,10,1020,7380,40,60000
1241,2020,202001,4614,2020000140394,104.0,2020000046141,30201,1,1,104.0,...,0,0,10,101,1,10,1020,7380,42,128000
1270,2020,202001,4655,2020000143958,96.0,2020000046551,270201,1,2,90.0,...,0,0,10,101,1,10,1020,7380,40,32000
1276,2020,202001,4661,2020000144202,59.0,2020000046611,270201,1,2,69.0,...,0,0,10,101,1,10,1020,7390,46,120000
1402,2020,202001,4861,2020000158197,43.0,2020000048611,50001,1,2,34.0,...,0,0,10,101,1,10,1020,7380,40,107000
1457,2020,202001,4939,2020000163930,146.0,2020000049391,270301,1,1,146.0,...,0,0,7,71,1,10,1020,7380,40,75000
1846,2020,202001,5679,2020000212567,152.0,2020000056791,240001,1,1,152.0,...,0,0,11,114,1,10,1020,7380,40,75000
1903,2020,202001,5789,2020000221068,55.0,2020000057891,130401,1,1,55.0,...,0,0,10,101,1,10,1020,7380,40,129000
2182,2020,202001,6282,2020000258863,93.0,2020000062821,270101,1,2,100.0,...,0,0,10,101,1,10,1020,7380,40,30100
2588,2020,202001,6940,2020000305080,144.0,2020000069401,30201,1,2,143.0,...,0,0,10,101,1,10,1020,7380,40,65000
3214,2020,202001,7987,2020000380120,74.0,2020000079871,130301,1,1,74.0,...,0,0,10,101,1,10,1020,7380,40,68000
3507,2020,202001,8471,2020000414512,93.0,2020000084711,120001,1,1,93.0,...,0,0,10,101,1,10,1020,7380,40,60000
3508,2020,202001,8471,2020000414512,93.0,2020000084711,120001,1,2,94.0,...,0,0,10,101,1,10,1020,7380,40,50000
3933,2020,202001,9172,2020000464929,140.0,2020000091721,70001,1,2,110.0,...,1991,29,11,114,1,10,1020,7380,40,12000
3977,2020,202001,9247,2020000471222,134.0,2020000092471,20001,1,2,150.0,...,0,0,10,101,1,10,1020,7380,40,69000
4047,2020,202001,9361,2020000479499,105.0,2020000093611,130201,1,2,104.0,...,0,0,7,71,1,10,1020,7380,40,30000

In [41]:
# Remove invalid wage and work hour data
df = df[(df["INCWAGE"] > 0) & (df["UHRSWORK"] > 0)]
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRIMMIG,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE
178,2020,202001,2749,2020000007479,99.0,2020000027491,120001,1,2,109.0,...,0,0,10,101,1,10,1020,7390,40,113000
359,2020,202001,3077,2020000033142,214.0,2020000030771,260001,1,2,207.0,...,0,0,10,101,1,10,1020,7380,40,94000
397,2020,202001,3153,2020000038438,43.0,2020000031531,10001,1,1,43.0,...,0,0,10,101,1,10,1020,7380,40,110000
1125,2020,202001,4430,2020000127565,135.0,2020000044301,30201,1,1,135.0,...,0,0,11,114,1,10,1020,7380,40,60000
1241,2020,202001,4614,2020000140394,104.0,2020000046141,30201,1,1,104.0,...,0,0,10,101,1,10,1020,7380,42,128000

In [42]:
# Compute estimated weekly earnings (assumes 52 working weeks)
df["weekly_earnings"] = (df["INCWAGE"] / 52).round(2)
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,YRSUSA1,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC2010,IND,UHRSWORK,INCWAGE,weekly_earnings
178,2020,202001,2749,2020000007479,99.0,2020000027491,120001,1,2,109.0,...,0,10,101,1,10,1020,7390,40,113000,2173.08
359,2020,202001,3077,2020000033142,214.0,2020000030771,260001,1,2,207.0,...,0,10,101,1,10,1020,7380,40,94000,1807.69
397,2020,202001,3153,2020000038438,43.0,2020000031531,10001,1,1,43.0,...,0,10,101,1,10,1020,7380,40,110000,2115.38
1125,2020,202001,4430,2020000127565,135.0,2020000044301,30201,1,1,135.0,...,0,11,114,1,10,1020,7380,40,60000,1153.85
1241,2020,202001,4614,2020000140394,104.0,2020000046141,30201,1,1,104.0,...,0,10,101,1,10,1020,7380,42,128000,2461.54

In [43]:
# Select relevant columns
columns_to_keep = [
    "AGE",
    "SEX",
    "RACE",
    "EDUC",
    "OCC2010",
    "IND",
    "EMPSTAT",
    "UHRSWORK",
    "INCWAGE",
    "weekly_earnings",
]
df_clean = df[columns_to_keep]
df_clean.head()

,AGE,SEX,RACE,EDUC,OCC2010,IND,EMPSTAT,UHRSWORK,INCWAGE,weekly_earnings
178,31,1,1,10,1020,7390,1,40,113000,2173.08
359,46,1,1,10,1020,7380,1,40,94000,1807.69
397,29,1,1,10,1020,7380,1,40,110000,2115.38
1125,32,1,1,11,1020,7380,1,40,60000,1153.85
1241,39,1,1,10,1020,7380,1,42,128000,2461.54

In [44]:
# Save cleaned dataset
output_dir = (
    "/Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets"
)
os.makedirs(output_dir, exist_ok=True)
output_path = os.path.join(
    output_dir, "software_engineers_employment_dataset_cleaned.csv"
)
df_clean.to_csv(output_path, index=False)